{% extends "_layout.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-3/4">
                    <form method="post" class="bg-gray-300 rounded px-8 pt-6 pb-8 mb-4" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('users/set-password') }}
                        {% set setPasswordConfirmation = craft.entries.section('setPasswordConfirmation').one() %}
                        {{ redirectInput(setPasswordConfirmation.getUrl()) }}
                        {{ hiddenInput('code', code) }}
                        {{ hiddenInput('id', id) }}

                        {% if errorMessage is defined %}
                            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                <span class="block sm:inline">{{ errorMessage }}</span>
                            </div>
                        {% endif %}

                        <div class="block mb-6">
                            <label class="form__label" for="newPassword">{{ 'Kies een wachtwoord'|t }}</label>
                            <input class="form__input" id="newPassword" type="password" name="newPassword" placeholder="{{ 'Wachtwoord'|t }}" required>
                        </div>
                        <div class="block">
                            <button type="submit" class="form__btn btn btn--primary">{{ 'Wachtwoord wijzigen'|t }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}