{% extends "_layout.twig" %}

{% block content %}
    <div class="section section--default">
        <div class="container px-5 mx-auto">
            {% include '_snippet/_content/_pageTitle.twig' %}
            {% include '_snippet/_content/_intro.twig' %}
            <div class="panel panel--light spacer">
                <form method="post" class="form bg-gray-300 rounded px-8 pt-6 pb-8 mb-4 max-w-md" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('users/send-password-reset-email') }}
                    {% set requestConfirmation = craft.entries.section('forgotPasswordConfirmation').one() %}
                    {{ redirectInput(requestConfirmation.getUrl()) }}
                    <div class="form__item">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="loginName">{{ 'E-mailadres'|t }}</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="loginName" type="email" name="loginName" required>
                    </div>

                    {% if errors is defined %}
                        {% for error in errors %}
                            <div class="notice notice--danger spacer">{{ error }}</div>
                        {% endfor %}
                    {% endif %}


                    <div class="form__actions spacer ">
                        <div class="spacer">
                            <button type="submit" class="form__btn btn btn--arrow bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">{{ 'Nieuw wachtwoord aanvragen'|t }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}