{% extends "_layout.twig" %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid__12 grid__8@lrg">
                {% include '_snippet/_content/_pageTitle.twig' %}
                {% include '_snippet/_content/_intro.twig' %}
                <div class="panel panel--light spacer">
                    <form method="post" class="form spacer spacer--med" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('users/send-password-reset-email') }}
                        {{ redirectInput('/') }}
                        <div class="form__item">
                            <label class="form__label" for="loginName">{{ 'E-mailadres'|t }}</label>
                            <input class="form__text" id="loginName" type="email" name="loginName" required>
                        </div>

                        {% if errors is defined %}
                            {% for error in errors %}
                                <div class="notice notice--danger spacer">{{ error }}</div>
                            {% endfor %}
                        {% endif %}


                        <div class="form__actions spacer ">
                            <div class="spacer">
                                <button type="submit" class="form__btn btn btn--arrow">{{ 'Nieuw wachtwoord aanvragen'|t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}