{% extends "_layout.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid__12 grid__8@lrg">
                <div class="panel panel--light">
                    <form method="post" class="form spacer spacer--med" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('users/set-password') }}
                        {{ hiddenInput('code', code) }}
                        {{ hiddenInput('id', id) }}

                        <input type="hidden" name="action" value="users/login">
                        {% if errorMessage is defined %}
                            <div class="notice notice--danger spacer">{{ errorMessage }}</div>
                        {% endif %}

                        <div class="form__item">
                            <label class="form__label" for="newPassword">{{ 'Kies een wachtwoord'|t }}</label>
                            <input class="form__text" id="newPassword" type="password" name="newPassword"
                                   placeholder="{{ 'Wachtwoord'|t }}" required>
                        </div>
                        <div class="form__actions spacer ">
                            <div class="spacer">
                                <button type="submit"
                                        class="form__btn btn btn--arrow">{{ 'Wachtwoord wijzigen'|t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}