{# - - - - - - - - - - - - - - - - - - - - - -

 Zie CHANGELOG.md voor de nieuwe paginatie.

 - - - - - - - - - - - - - - - - - - - - - -#}

{# {% macro pager(pageInfo) %}
    {% if pageInfo.totalPages > 1 %}
        <div class="block spacer">
            <ul class="pagination">
                {% if pageInfo.prevUrl %}
                    <li class="pagination__item">
                        <a href="{{ pageInfo.prevUrl }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__prev">
                            <span class="visuallyhidden">{{ 'Vorige'|t }}</span>
                        </a>
                    </li>
                {% endif %}

                #}
{# Show first two pages when you are further than page 4 #}{#

                {% if pageInfo.currentPage not in [1,2,3] %}
                    <li class="pagination__item">
                        <a href="{{ pageInfo.getFirstUrl() }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__btn">1</a>
                    </li>
                    {% if pageInfo.currentPage != 4 %}
                        <li class="pagination__item">
                            <a href="{{ pageInfo.getPageUrl(2) }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                               class="pagination__btn">2</a>
                            {% if pageInfo.totalPages > 5 and pageInfo.currentPage != 5 %}
                                <span class="pagination__btn non-active">...</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}

                {% for page, url in pageInfo.getPrevUrls(2) %}
                    <li class="pagination__item">
                        <a href="{{ url }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__btn">{{ page }}</a>
                    </li>
                {% endfor %}

                <li class="pagination__item">
                    <a href="#" class="pagination__btn active">{{ pageInfo.currentPage }}</a>
                </li>

                {% for page, url in pageInfo.getNextUrls(2) %}
                    <li class="pagination__item">
                        <a href="{{ url }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__btn">{{ page }}</a>
                    </li>
                {% endfor %}

                #}
{# Show last two pages when you are in the first 4 pages #}{#

                {% if pageInfo.currentPage not in [(pageInfo.totalPages), (pageInfo.totalPages - 1), (pageInfo.totalPages - 2)] %}
                    {% if pageInfo.currentPage != (pageInfo.totalPages - 3) %}
                        <li class="pagination__item">
                            {% if pageInfo.totalPages > 5 and pageInfo.currentPage != (pageInfo.totalPages - 4)  %}
                                <span class="pagination__btn non-active">...</span>
                            {% endif %}
                            <a href="{{ pageInfo.getPageUrl(pageInfo.totalPages - 1) }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                               class="pagination__btn">{{ (pageInfo.totalPages - 1) }}</a>
                        </li>
                    {% endif %}
                    <li class="pagination__item">
                        <a href="{{ pageInfo.getLastUrl() }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__btn">{{ pageInfo.totalPages }}</a>
                    </li>
                {% endif %}

                {% if pageInfo.nextUrl %}
                    <li class="pagination__item">
                        <a href="{{ pageInfo.nextUrl }}{% if craft.app.request.queryStringWithoutPath %}?{{ craft.app.request.queryStringWithoutPath }}{% endif %}"
                           class="pagination__next">
                            <span class="visuallyhidden">{{ 'Volgende'|t }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %} #}
