<div class="flex flex-wrap mt-4 text-sm text-black" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	{% set segmentUri = '/' %}
	<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="flex items-center breadcrumb__scope">
		<a href="{{ siteUrl }}" itemprop="item" class="flex underline hover:no-underline">
			<span itemprop="name">{{ 'Home'|t }}</span>
		</a>
		<svg class="px-1 text-primary icon" aria-hidden="true"><use xlink:href="/icon/sprite.svg#chevron-right"></use></svg>
		<meta itemprop="position" content="1">
	</span>
	{% if breadcrumbs is defined %}
		{% for crumb in breadcrumbs %}
			{% if not crumb is null %}
				<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="flex items-center breadcrumb__scope">
					<a href="{{ crumb.url }}" itemprop="item" class="flex underline hover:no-underline{% if loop.last %} no-underline{% endif %}">
						<span itemprop="name">{{ crumb.title }}</span>
					</a>
					{% if not loop.last %}
						<svg class="px-1 text-primary icon" aria-hidden="true"><use xlink:href="/icon/sprite.svg#chevron-right"></use></svg>
					{% endif %}
					<meta itemprop="position" content="{{ loop.index+1 }}">
				</span>
			{% endif %}
		{% endfor %}
	{% else %}
		{% for segment in craft.app.request.segments %}
			{% set segmentUri = segmentUri ~ segment ~ "/"  %}
			<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="flex items-center breadcrumb__scope">
				<a href="{{ segmentUri }}" itemprop="item" class="flex underline hover:no-underline{% if loop.last %} no-underline{% endif %}">
					<span itemprop="name">{{ segment|replace('-',' ') }}</span>
				</a>
				<meta itemprop="position" content="{{ loop.index+1 }}">
			</span>
		{% endfor %}
	{% endif %}
</div>
