<div class="breadcrumb">
    {% set segmentUri = '/' %}
    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb__scope">
        <a href="{{ siteUrl }}" itemprop="url" class="breadcrumb__item"><span itemprop="title">{{ 'Home'|t }}</span></a>
    </span>

    {% if breadcrumbs is defined %}
        {% for crumb in breadcrumbs %}
            {% if not crumb is null %}
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb__scope">
                    <a href="{{ crumb.url }}" itemprop="url" class="breadcrumb__item{% if loop.last %} breadcrumb__item--active{% endif %}"><span itemprop="title">{{ crumb.title }}</span></a>
                </span>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for segment in craft.app.request.segments %}
            {% set segmentUri = segmentUri ~ segment ~ "/"  %}
            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb__scope">
                <a href="{{ segmentUri }}" itemprop="url" class="breadcrumb__item{% if loop.last %} breadcrumb__item--active{% endif %}"><span itemprop="title">{{ segment|replace('-',' ')|capitalize }}</span></a>
            </span>
        {% endfor %}
    {% endif %}
</div>