{% set currentLanguage = currentSite.language %}
{% set currentLocal = currentLanguage|split('-')  %}
{% set group = craft.app.getSites().getGroupById(currentSite.groupId) %}
<nav class="hidden md:block js-dropdown" aria-label="{{ 'Language'|t }}">
	<button class="js-dropdown-toggle">
		{{currentLocal[0]|upper }}
		<svg class="icon" aria-hidden="true">
			<use xlink:href="/icon/sprite.svg#chevron-down"></use>
		</svg>
	</button>
	<ul class="p-2 bg-white shadow-lg js-dropdown-menu">
		{% for site in group.getSites() %}
			{% if entry is defined %}
				{% set localeEntry = craft.entries.id(entry.id).siteId(site.id).one() %}
				{% if localeEntry.siteId is defined and localeEntry.siteId != currentSite.id %}
					{% set locale = localeEntry.site.language|split('-')  %}
					<li>
						<a href="{{ url(localeEntry.url, { 'lang': localeEntry.site.handle }) }}">{{ locale[0]|upper }}</a>
					</li>
				{% else %}
					{% if localeEntry %}
						{% set locale = localeEntry.site.language|split('-')  %}
						<li class="active">
							<a href="{{ craft.app.config.general.siteUrl[localeEntry.site.handle] }}">{{ locale[0]|upper }}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
