<div class="fixed hidden w-full max-h-screen px-4 overflow-y-auto text-base z-100 sm:max-w-modal pull-to-center cookie-modal top-1/2 left-1/2" id="cookieModal" role="dialog" aria-modal="true" aria-labelledby="cookie_settings_title" tabindex="-1">
	<div class="p-8 bg-white rounded-lg shadow-md">
		<button href="#" class="absolute top-0 right-0 mt-4 mr-4 js-modal-close-btn notranslate">
			<span class="sr-only">{{ "Sluit cookie instellingen"|t}}</span>
			<svg class="icon" aria-hidden="true"><use xlink:href="/icon/sprite.svg#clear"></use></svg>
		</button>
		<h1 class="text-2xl sm:text-3xl" id="cookie_settings_title">{{ 'Cookieinstellingen'|t }}</h1>
		<p>
			{{ 'Onze website houdt drie niveaus van cookies bij. Je kan zelf je voorkeuren op elk moment aanpassen. Meer informatie over wat cookies zijn en welke cookies we verzamelen kan je lezen in ons <a href="{cookieLink}" target="_blank" class="underline hover:no-underline">cookiebeleid</a>.'|t({cookieLink: craft.entries.section('cookiePolicy').one().getUrl() ?? ''})|raw }}
		</p>
		<div class="mt-6 text-center">
			<a href="#" class="btn btn--primary js-cookie-accept notranslate">{{ 'Alle cookies aanvaarden'|t }}</a>
		</div>
		<h2 class="mt-4 text-xl">{{ 'Of pas je voorkeuren aan'|t }}</h2>
		<form>
			<div class="mb-5">
				<div class="flex items-center text-xl font-bold">
					<input class="mr-4 js-cookie-essential" type="checkbox" name="essential" id="essential" disabled="disabled" checked="checked">
					<label for="essential">{{ 'Essentiële cookies'|t }}</label>
				</div>
				<div class="ml-8">
					{{ 'zijn noodzakelijke cookies die ervoor zorgen dat de website goed functioneert en dat je voorkeuren (bv. taal, regio) goed worden opgeslagen.'|t }}
				</div>
			</div>
			<div class="mb-5">
				<div class="flex items-center text-xl font-bold">
					<input class="mr-4 js-cookie-performance" type="checkbox" name="CookiePerformance" id="performance" value="2">
					<label class="js-cookie-performance" for="performance">{{ 'Analytische cookies'|t }}</label>
				</div>
				<div class="ml-8">
					{{ 'laten ons toe om het gebruik van de website te analyseren en de bezoekerservaring te verbeteren.'|t }}
				</div>
			</div>
			<div class="mb-5">
				<div class="flex items-center text-xl font-bold">
					<input class="mr-4 js-cookie-marketing" type="checkbox" name="CookieMarketing" id="marketing" value="3">
					<label class="js-cookie-marketing" for="marketing">{{ 'Marketingcookies'|t }}</label>
				</div>
				<div class="ml-8">
					{{ 'hebben als doel om je ervaring te kunnen personaliseren en je relevante inhoud en aanbiedingen te sturen op deze en andere websites.'|t }}
				</div>
			</div>
		</form>
		<div class="text-center">
			<button href="#" class="btn btn--primary js-modal-close notranslate">{{ 'Bewaren'|t }}</button>
		</div>
	</div>
</div>
