<div class="w-full px-4 mt-4 sm:w-1/2 md:w-1/3">
	<div class="relative min-h-full overflow-hidden transition duration-300 ease-in-out shadow hover:shadow-lg">
		{% if newsEntry.overviewImage|length %}
			{% set optimizedImage = newsEntry.overviewImage|first.optimizedOverview %}
			<picture>
				{% if craft.imageOptimize.serverSupportsWebP() and newsEntry.overviewImage|first.extension != 'svg' %}
					<source data-srcset="{{ optimizedImage.srcsetWebP() }}" 
							sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 819px) 298px, (min-width: 820px) and (max-width: 1199px) 295px, (min-width: 1200px) 368px"
							type="image/webp" />
				{% endif %}
				<img src="{{ optimizedImage.placeholderBox() }}"
					 data-srcset="{{ optimizedImage.srcset() }}"
					 srcset="{{ optimizedImage.srcset() }}"
					 sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 819px) 298px, (min-width: 820px) and (max-width: 1199px) 295px, (min-width: 1200px) 368px"
					 alt="{{ newsEntry.overviewImage|first.imageCaption ?? newsEntry.overviewImage|first.title ?? newsEntry.title }}"
					 class="w-full lazyload" />
			</picture>
		{% endif %}
		<div class="px-6 py-4">
			<div class="py-1 text-sm font-semibold text-gray-700">{{ newsEntry.postDate.format('d.m.Y') }}</div>
			<h3 class="mb-2 text-xl font-bold">
				<a href="{{ newsEntry.getUrl() }}">{{ newsEntry.overviewTitle ?? newsEntry.title }}</a>
			</h3>
		</div>
	</div>
</div>
