<div class="nav nav--social nav--social-share">
    <h3 class="float-left mb-0 mr-3 text-gray-700 nav--social__title">{{ 'Social share'|t }}</h3>
    <ul class="flex nav__menu list-reset">
        <li class="nav__item">
            <a href="https://www.facebook.com/dialog/feed?
  app_id=1935406686690530
  &display=popup&amp;caption={{ entry.title }}
  &link={{ entry.getUrl() }}
  &redirect_uri={{ entry.getUrl() }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600'); return false;" class="p-2 nav__link nav__link--facebook hover:text-grey-400" title="Share on Facebook">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="/icon/sprite.svg#facebook"></use>
                </svg>
                <span class="sr-only">{{ 'Facebook'|t }}</span></a>
        </li>
        <li class="nav__item">
            <a href="https://www.linkedin.com/shareArticle?mini=false&url={{ entry.getUrl() }}&title={{ entry.title }}
&summary={{ entry.intro|striptags }}&source={{ systemName }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600'); return false;" class="p-2 nav__link nav__link--twitter hover:text-grey-400" title="Share on LinkedIn">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="/icon/sprite.svg#linkedin"></use>
                </svg>
                <span class="sr-only">{{ 'LinkedIn'|t }}</span>
            </a>
        </li>
        <li class="nav__item">

            <a href="https://twitter.com/intent/tweet?text={{ entry.title }} -&&url={{ entry.getUrl() }}"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600'); return false;" class="p-2 nav__link nav__link--twitter hover:text-grey-400" title="Share on Twitter">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="/icon/sprite.svg#twitter"></use>
                </svg>
                <span class="sr-only">{{ 'Twitter'|t }}</span>
            </a>
        </li>
    </ul>
</div>