{% if socialMedia.facebook %}
    <li class="nav__item">
        <a href="{{ socialMedia.facebook }}" aria-label="{{ 'Bekijk onze Facebook pagina'|t }}" target="_blank" rel="noopener" class="nav__link nav__link--facebook">
            <i class="icon icon--facebook" aria-hidden="true"></i>
            <span class="visuallyhidden">{{ 'Facebook'|t }}</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.instagram %}
    <li class="nav__item">
        <a href="{{ socialMedia.instagram }}" aria-label="{{ 'Bekijk onze Twitter Instagram'|t }}" target="_blank" rel="noopener" class="nav__link nav__link--instagram">
            <i class="icon icon--instagram" aria-hidden="true"></i>
            <span class="visuallyhidden">{{ 'Instagram'|t }}</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.linkedin %}
    <li class="nav__item">
        <a href="{{ socialMedia.linkedin }}" aria-label="{{ 'Bekijk onze LinkedIn pagina'|t }}" target="_blank" rel="noopener" class="nav__link nav__link--linkedin">
            <i class="icon icon--linkedin" aria-hidden="true"></i>
            <span class="visuallyhidden">{{ 'LinkedIn'|t }}</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.twitter %}
    <li class="nav__item">
        <a href="{{ socialMedia.twitter }}" aria-label="{{ 'Bekijk onze Twitter pagina'|t }}" target="_blank" rel="noopener" class="nav__link nav__link--twitter">
            <i class="icon icon--twitter" aria-hidden="true"></i>
            <span class="visuallyhidden">{{ 'Twitter'|t }}</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.youtube %}
    <li class="nav__item">
        <a href="{{ socialMedia.youtube }}" aria-label="{{ 'Bekijk onze YouTube pagina'|t }}" target="_blank" rel="noopener" class="nav__link nav__link--youtube">
            <i class="icon icon--youtube" aria-hidden="true"></i>
            <span class="visuallyhidden">{{ 'YouTube'|t }}</span>
        </a>
    </li>
{% endif %}
