{% if block.blockTitle|length %}
	<h2 id="{{ craft.statik.slugify(block.blockTitle) }}">{{ block.blockTitle }}</h2>
{% endif %}
<div class="flex flex-wrap -mx-4">
	{% for overviewEntry in block.entries.with(['overviewImage']).all() %}
		<div class="w-full px-4 mt-4 sm:w-1/2 md:w-1/3">
			<div class="relative min-h-full overflow-hidden transition duration-300 ease-in-out shadow hover:shadow-lg">
				{% set optimizedImage = overviewEntry.overviewImage|default(fallback.image)|first.optimizedOverview %}
				<picture>
					{% if craft.imageOptimize.serverSupportsWebP() and overviewEntry.overviewImage|first.extension != 'svg' %}
						<source data-srcset="{{ optimizedImage.srcsetWebP() }}" 
								sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 819px) 298px, (min-width: 820px) and (max-width: 1199px) 295px, (min-width: 1200px) 368px"
								type="image/webp" />
					{% endif %}
					<img src="{{ optimizedImage.placeholderBox() }}"
						 data-srcset="{{ optimizedImage.srcset() }}"
						 sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 819px) 298px, (min-width: 820px) and (max-width: 1199px) 295px, (min-width: 1200px) 368px"
						 alt="{{ overviewEntry.overviewImage|first().imageCaption ?? overviewEntry.overviewImage|first.title ?? overviewEntry.title }}"
						 class="lazyload" />
				</picture>
				<div class="py-4">
					<h3>
						<a href="{{ overviewEntry.url }}" class="link--extended">{{ overviewEntry.overviewTitle ?? overviewEntry.title }}</a>
					</h3>
					{% if overviewEntry.overviewDescription %}
						<div class="py-4">{{ overviewEntry.overviewDescription }}</div>
					{% endif %}
				</div>
				<span class="btn btn--link btn--ext">{{ 'Lees meer'|t }}</span>
			</div>
		</div>
	{% endfor %}
</div>
