{% set class = 'spacer spacer--xsm spacer--med@sml' %}
{% if settings.section is not defined %}
    {% if block['backgroundColor'] is defined and block['backgroundColor']|length and block['backgroundColor'] != 'default' %}
        {% set class = 'spacer spacer--xsm spacer--med@sml panel panel--' ~block.backgroundColor %}
    {% endif %}
{% endif %}

<div class="{{ class }}">
    <div class="grid">
        {% if block.blockTitle|length %}
            <h2>{{ block.blockTitle }}</h2>
        {% endif %}
        {% for overviewEntry in block.entries.with(['overviewImage']).all() %}
            <div class="grid__12 grid__4@med">
                <a class="card card--nav card--link" href="{{ overviewEntry.url }}">
                    <div class="card__content">
                        <div class="card__img">
                            {% set optimizedImage = overviewEntry.overviewImage|default(fallback.image)|first.optimizedOverview %}
                            <img src="{{ optimizedImage.src(660) ?: max(optimizedImage.optimizedImageUrls) }}"
                                 srcset="{{ optimizedImage.srcset() }}"
                                 sizes="(max-width: 819px) 95vw, (min-width: 820px) and (max-width: 979px) 420px, (min-width: 980px) 406px, 440px"
                                 alt="{{ overviewEntry.overviewImage|first().imageCaption ?? overviewEntry.overviewImage|first.title ?? overviewEntry.title }}"
                            />
                        </div>
                        <div class="card__heading">
                            <h2>{{ overviewEntry.overviewTitle ?? overviewEntry.title }}</h2>
                        </div>
                        <div class="card__body">
                            {% if overviewEntry.overviewDescription %}
                                {{ overviewEntry.overviewDescription }}
                            {% endif %}
                            <p class="btn btn--read-more">{{ 'Lees meer'|t }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
