{% if block.images|length %}
    <div class="flex">
        <div class="w-full md:w-8/12">
            <div id="slider" class="js-slider glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for image in block.images %}
                            <li class="glide__slide relative">
                                    {% if image.imageCaption|length %}
                                        <figcaption>{{ image.imageCaption }}</figcaption>
                                    {% endif %}
                                    {% set optimizedImage = image.optimizedOverview %}
                                            <a href="{{ optimizedImage.src(1200) ?: max(optimizedImage.optimizedImageUrls) }}" class="gallery gallery__image gallery__image-highlight js-gallery-image modaal" rel="gallery">
                                    <img src="{{ optimizedImage.src(375) ?: max(optimizedImage.optimizedImageUrls) }}"
                                            srcset="{{ optimizedImage.srcset() }}"
                                            sizes="(max-width: 819px) 100vw, (min-width: 820px) 780px"
                                            alt="{{ image.imageCaption }}"
                                    />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"> <span class="icon icon--arrow-left" aria-hidden="true"></span> <span class="sr-only">{{' previous'|t }}</span></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> <span class="icon icon--arrow-right" aria-hidden="true"></span> <span class="sr-only">{{ 'next'|t }}</span></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}


