{% set inverseClass = block.position == 'left' and block.image|length ? 'grid--reverse' : '' %}

{% set class = 'spacer spacer--xsm spacer--med@sml' %}
{% if settings.section is not defined %}
    {% if block['backgroundColor'] is defined and block['backgroundColor']|length and block['backgroundColor'] != 'default' %}
        {% set class = 'spacer spacer--xsm spacer--med@sml panel panel--' ~block.backgroundColor %}
    {% endif %}
{% endif %}

<div class="{{ class }}">
    <div class="grid {{ inverseClass }}">

         {% if block.blockTitle|length %}
            <div class="spacer">
                <h2 id="{{ block.blockTitle }}">{{ block.blockTitle }}</h2>
            </div>
        {% endif %}
        
        <div class="grid__12 {% if block.image|length %}grid__6@med{% else %}grid__8@lrg{% endif %}">
            <div class="spacer block--lists">
                {{ block.text }}
            </div>
            {% if block.cta|length %}
                <div class="spacer">
                    <div class="inline">
                        {% for cta in block.cta.all() %}
                            {% include '_snippet/_content/_blocks/_cta' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
       
        {% if block.image|length %} 
            <div class="grid__12 grid__6@med">
                {% set optimizedImage = block.image|default(fallback.image)|first.optimizedTextImage %}
                <img src="{{ optimizedImage.src(660) ?: max(optimizedImage.optimizedImageUrls) }}"
                     srcset="{{ optimizedImage.srcset() }}"
                     sizes="(max-width: 659px) 93vw, (min-width: 660px) 656px"
                     alt="{{ block.image|first.imageCaption ?? block.image|first.title ?? entry.title }}"
                />
            </div>
        {% endif %}
        
    </div>
</div>
