{% set inverseClass = block.position == 'right' and block.image|length ? 'flex-row-reverse' : '' %}

{% if block.blockTitle|length %}
	<h2 id="{{ craft.statik.slugify(block.blockTitle) }}">{{ block.blockTitle }}</h2>
{% endif %}
<div class="flex flex-wrap -mx-4 {{ inverseClass }}">
	{% if block.image|length %}
		<div class="w-full px-4 md:w-1/2">
			{% set optimizedImage = block.image|first.optimizedTextImage %}
			<picture>
				{% if craft.imageOptimize.serverSupportsWebP() and block.image|first.extension != 'svg' %}
					<source data-srcset="{{ optimizedImage.srcsetWebP() }}"
							sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
							type="image/webp"/>
				{% endif %}
				<img src="{{ optimizedImage.placeholderBox() }}"
					 data-srcset="{{ optimizedImage.srcset() }}"
					 sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
					 alt="{{ block.image|first.imageCaption ?? block.image|first.title ?? entry.title }}"
					 class="lazyload"/>
			</picture>
			{% if block.image|first.imageCopyright|length %}
				<div class="mt-2 text-base">{{ block.image|first.imageCopyright }}</div>
			{% endif %}
		</div>
	{% endif %}
	<div class="w-full px-4 {% if block.image|length %}mt-8 md:mt-0 md:w-1/2{% else %}lg:w-3/4{% endif %}">
		<div class="redactor">
			{{ block.text }}
		</div>
		{% if block.cta|length %}
			<div class="flex flex-wrap items-baseline">
				{% for cta in block.cta.all() %}
					{% include '_snippet/_content/_blocks/_cta' %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
