<div class="flex flex-wrap">
	{% if not block.titleColumn2|length %}
		{% if block.titleColumn1|length %}
			<h2 class="w-full" id="{{ block.titleColumn1 }}">{{ block.titleColumn1 }}</h2>
		{% endif %}
	{% endif %}
	<div class="w-full md:w-1/2">
		{% if block.titleColumn2|length %}
			{% if block.titleColumn1|length %}
				<h2 id="{{ block.titleColumn1 }}">{{ block.titleColumn1 }}</h2>
			{% endif %}
		{% endif %}
		<div class="redactor">
			{{ block.textColumn1 }}
		</div>
		{% if block.ctaColumn1|length %}
			<div class="">
				{{ block.ctaColumn1.getLink() }}
			</div>
		{% endif %}
	</div>
	<div class="w-full md:w-1/2">
		{% if block.titleColumn2|length %}
			<h2 id="{{ block.titleColumn2 }}">{{ block.titleColumn2 }}</h2>
		{% endif %}
		<div class="redactor">
			{{ block.textColumn2 }}
		</div>
		{% if block.ctaColumn2|length %}
			<div class="">
				{{ block.ctaColumn2.getLink() }}
			</div>
		{% endif %}
	</div>
</div>
