{% set baseUrl = craft.app.config.general.aliases.baseUrl %}
{% extends "_mail/_layout" %}

{# subject: Bedankt voor je bericht aan {{ systemName }} #}
{# fromEmail: {{ craft.app.systemSettings.getSettings('email').fromEmail }} #}
{# fromName: {{ craft.app.systemSettings.getSettings('email').fromName }} #}
{# replyToEmail: {{ craft.app.systemSettings.getSettings('email').fromEmail }} #}
{# cc:  #}
{# bcc: #}
{# includeAttachments: true #}
{# presetAssets: 42,67 #}
{# description: #}

{% block content %}
    <p><em>{{ 'We hebben onderstaand bericht van je ontvangen, hierop proberen wij zo snel mogelijk te antwoorden.'|t }}</em></p>
    <ul>
        {% for field in allFields if field.handle != 'terms' %}
            <li><strong>{{ field.label }}</strong><br>{{ field.getValueAsString() }}</li>
        {% endfor %}
    </ul>
{% endblock %}