{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './ajaxsearch.twig',
		title: 'Ajax Search'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
            {% include '_site/_snippet/_nav/_breadcrumb' %}
			<div class="w-8/12">
				<h1>Ajax search examples</h1>
				<p>These are some examples for an ajax search</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
                <form action="">
                    <h2>Search</h2>
                    <div class="relative">
                        <input type="text" class="w-full py-2 pl-2 pr-12 rounded border-1" 
                            placeholder="Search for example 'john'" 
                            data-ajax-search="https://67f7d1472466325443eadc3f.mockapi.io/api/data" 
                            data-ajax-search-methode="GET" 
                            data-ajax-search-query="search" 
                            data-ajax-search-result-template="result__template" 
                            data-ajax-search-no-result-template="noresult__template"
                            {# data-ajax-search-typed-text-template="typed-text__template" #}
                            {# data-ajax-search-match-wrapper="em" #}
                            data-ajax-search-list-element-class="bg-white shadow-lg border-t border-t-light rounded-b-md -mt-1"
                            data-ajax-search-list-item-class="block py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap hover:text-white aria-selected:text-white hover:bg-primary aria-selected:bg-primary" />
                        <span class="block absolute right-2 top-0 bottom-0 text-primary text-xl flex items-center">
                            {{ icon('magnify', { class: '' }) }} 
                        </span>
                    </div>
                    <template id="result__template">
                        <div class="flex justify-between [&_mark]:font-bold [&_mark]:bg-transparent [&_mark]:text-inherit"><span>%%name%%</span> <span>(%%city%%, %%street%%)</span></div>
                    </template>
                    <template id="typed-text__template">
                        <span class="block">
                            {{"Toon resultaten voor persoon: "|t}} %%query%%
                        </span>
                    </template>
                    <template id="noresult__template">
                        <span class="p-2 bg-red-100 block">Niets gevonden</span>
                    </template>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
                <form action="">
                    <h2>Coctail search</h2>
                    <input type="text" class="w-full p-2 rounded border-1" 
                        placeholder="Search a coctail" 
                        data-ajax-search="https://www.thecocktaildb.com/api/json/v1/1/search.php" 
                        data-ajax-search-methode="GET" 
                        data-ajax-search-query="s" 
                        data-ajax-search-data="0.drinks" 
                        data-ajax-search-result-template="result__templatec" 
                        data-ajax-search-no-result-template="noresult__templatec"
                        data-ajax-search-no-typed-option="true"
                        data-ajax-search-clear-on-select="true"
                        data-ajax-search-list-element-class="bg-white shadow-lg border-t border-t-light rounded-b-md -mt-1"
                        data-ajax-search-list-item-class="block py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap hover:text-white aria-selected:text-white hover:bg-primary aria-selected:bg-primary" />
                    <template id="result__templatec">
                        <div class="flex justify-between [&_mark]:font-bold [&_mark]:bg-transparent [&_mark]:text-inherit"><span>%%strDrink%%</span> <span>(%%strAlcoholic%%)</span></div>
                    </template>
                    <template id="noresult__templatec">
                        <span class="p-2 bg-red-100 block">Je zal iets anders moeten drinken</span>
                    </template>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h2>Search with callback</h2>
                <form action="">
                    <input type="text" class="w-full p-2 rounded border-1" 
                        placeholder="Search for a craft developer"  
                        data-ajax-search-callback="testSearch" 
                        data-ajax-search-group-template="group__templatecb" 
                        data-ajax-search-result-template="result__templatecb" 
                        data-ajax-search-no-result-template="noresult__templatecb"
                        data-ajax-search-typed-text-template="typed-text__templatecb"
                        data-ajax-search-list-element-class="bg-white shadow-lg border-t border-t-light rounded-b-md -mt-1"
                        data-ajax-search-list-item-class="block py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap hover:text-white aria-selected:text-white hover:bg-primary aria-selected:bg-primary" />
                    <template id="group__templatecb" class="hidden py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap font-medium bg-light">
                        %%title%%
                    </template>
                    <template id="result__templatecb" class="hidden py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap hover:text-white aria-selected:text-white hover:bg-primary aria-selected:bg-primary">
                        <div class="[&_mark]:font-bold [&_mark]:bg-transparent [&_mark]:text-inherit">%%name%%</div>
                    </template>
                    <template id="noresult__templatecb">
                        <span class="p-2 bg-red-100 block">Niemand gevonden</span>
                    </template>
                    <template id="typed-text__templatecb">
                        <span class="block p-2">
                            {{"Zoek deze persoon: "|t}} %%query%%
                        </span>
                    </template>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h2>Transfer selected id to hidden input</h2>
                <form action="">
                    <input type="text" name="city" value="" class="border-1" placeholder="This is the city input"/>
                    <input type="text" class="block w-full p-2 mt-2 rounded border-1 no-hook"
                            placeholder="Zoek op postcode of gemeente/stad"
                            value="{{currentCity is defined ? currentCity.title : ''}}"
                            data-ajax-search-callback="testSearchCities" 
                            data-ajax-search-destination-input="city"
                            data-ajax-search-destination-value="id"
                            data-ajax-search-methode="GET"
                            data-ajax-search-query="s"
                            data-ajax-search-result-template="result__templatehi"
                            data-ajax-search-no-result-template="noresult__templatehi"
                            data-ajax-search-no-typed-option="true"
                            data-ajax-search-list-element-class="bg-white shadow-lg border-t border-t-light rounded-b-md -mt-1"
                            data-ajax-search-list-item-class="block py-1 px-2 overflow-hidden text-ellipsis whitespace-nowrap hover:text-white aria-selected:text-white hover:bg-primary aria-selected:bg-primary" />
                    <template id="result__templatehi">
                        <div class="[&_mark]:font-bold [&_mark]:bg-transparent [&_mark]:text-inherit">%%title%%</div>
                    </template>
                    <template id="noresult__templatehi">
                        <span class="p-2 bg-red-100 block">{{ "Gemeente niet gevonden"|t }}</span>
                    </template>
                </form>
			</div>
		</div>
	</div>

    
    <script>
        window["testSearch"] = (query) => {
            let data = [
                {
                    group: {
                        title: "Frontend"
                    },
                    data: [
                        {name: "Karel-Jan"},
                        {name: "Stijn"},
                        {name: "Caroline"},
                        {name: "Laura"},
                    ]
                },
                {
                    group: {
                        title: "Backend"
                    },
                    data: [
                        {name: "Sarah"},
                        {name: "Hannah"},
                    ]
                },
                {
                    group: {
                        title: "Analyse"
                    },
                    data: [
                        {name: "Jan"},
                        {name: "Anton"},
                    ]
                }
            ];

            return new Promise(function (resolve, reject) {
                data = data.filter(g => {
                        g.data = g.data.filter(d => d.name.trim().toLowerCase().indexOf(query.trim().toLowerCase()) >= 0);
                        return g.data.length > 0;
                    });
                resolve(data);
            });
        };
        window["testSearchCities"] = (query) => {
            let data = [
                {title: "Leuven", id: 1},
                {title: "Kessel-lo", id: 2},
                {title: "Herent", id: 3},
                {title: "Haacht", id: 4},
                {title: "Wespelaar", id: 5},
            ];

            return new Promise(function (resolve, reject) {
                data = data.filter(d => d.title.trim().toLowerCase().indexOf(query.trim().toLowerCase()) >= 0);
                resolve(data);
            });
        };
    </script>
    

{% endblock %}
