{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
        url: './overview.twig',
        title: 'Plugins'
    },
    {
        url: './filter.twig',
        title: 'Filter'
    },
] %}

{% macro printMultiLevelCategory(category, catQuery) %}
    <li>
        <div class="flex items-center form__custom-checkbox">
            <input class="mr-2" type="checkbox" id="{{ category.id }}" name="category[]"
                   value="{{ category.id }}" {% if category.id in catQuery %} checked {% endif %}/>
            <label for="{{ category.id }}">{{ category.title }}</label>
            {% if category.children|length %}
                <button type="button" class="ml-auto cursor-pointer ie-hidden js-indeterminate-toggle">
                    {{ icon('chevron-down') }}
                    <span class="sr-only">{{ 'Options'|t }}
                        {{ category.title }}</span>
                </button>
            {% endif %}
        </div>
        {% if category.children|length %}
            <ul class="pl-4 js-indeterminate-sub-list">
                {% for child in category.children.all() %}
                    {{ _self.printMultiLevelCategory(child, catQuery) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block content %}

    {% set entries = craft.entries.section('news') %}
    {% set relationParam = ['and'] %}

    {% set searchQuery = craft.app.request.getParam('search') %}
    {% set searchQuery = searchQuery is valid_query ? searchQuery : '' %}
    {% set catQuery = craft.app.request.getParam('category') %}
    {% set catQuery = catQuery is valid_id ? catQuery : [ ] %}

    {% if catQuery %}
        {% set relationParam = relationParam|merge([{ targetElement: catQuery }]) %}
    {% endif %}

    {% if relationParam|length > 1 %}
        {% set entries = entries.relatedTo(relationParam) %}
    {% endif %}

    {% if searchQuery %}
        {% set entries = entries.search(searchQuery).orderBy('score') %}
    {% endif %}

    {% set totalEntries = entries|length %}

    {% paginate entries.limit(2) as pageInfo, newsEntries %}

    <div class="section section--default">
        <div class="container">
            {% include '_site/_snippet/_nav/_breadcrumb' %}
            <div class="w-3/4">
                <h1>Filter plugin Example</h1>
                <p>This is an example on how to use the filter plugin.</p>
                <h2 class="js-filter-extra-info">
                    {{ totalEntries }} {{ 'resultaten gevonden'|t }}
                </h2>
            </div>
        </div>
    </div>

    <div class="section section--default">
        <div class="container">
            <div class="flex -mx-4">
                <div class="w-full px-4 md:w-1/3">
                    <div>
                        <div class="md:hidden">
                            <a href="#" class="js-filter-mobile-toggle">
                                {# This element will get the class 'open' when the filter is open #}
                                {{ 'Filter results'|t }}
                                {{ icon('chevron-down') }}
                            </a>
                        </div>
                        <div class="js-filter-mobile-collapse">
                            <form action="" class="js-filter-form">
                                {% set categories = craft.entries.section('newsCategories').level(1) %}
                                {% if categories|length %}
                                    <div>
                                        <h4>{{ "Categories"|t }}</h4>
                                        <ul>
                                            {% for category in categories|slice(0,3) %}
                                                <li class="form__custom-checkbox">
                                                    <input type="checkbox" id="{{ category.id }}" name="category[]"
                                                           value="{{ category.id }}" {% if category.id in catQuery %} checked {% endif %}/>
                                                    <label for="{{ category.id }}">{{ category.title }}</label>
                                                </li>
                                            {% endfor %}
                                            {% if categories|length > 3 %}
                                                <li
                                                        class="js-filter-show-more">
                                                    {# This needs to be on the same lavel as the .js-filter-extra-content elements #}
                                                    <button type="button">{{ "Toon meer"|t }}</button>
                                                </li>
                                                {% for category in categories|slice(3,categories|length - 3) %}
                                                    <li class="hidden form__custom-checkbox js-filter-extra-content">
                                                        <input type="checkbox" id="{{ category.id }}" name="category[]"
                                                               value="{{ category.id }}" {% if category.id in catQuery %} checked {% endif %}/>
                                                        <label for="{{ category.id }}">{{ category.title }}</label>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% set categories = craft.entries.section('newsCategories').level(1) %}
                                {% if categories|length %}
                                    <div>
                                        <h4>{{ "Categories Multilevel"|t }}</h4>
                                        <ul class="js-indeterminate-checks" data-s-indeterminate-toggle-open="false"
                                            data-s-indeterminate-open-checked="true">
                                            {% for category in categories %}
                                                {{ _self.printMultiLevelCategory(category, catQuery) }}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div>
                                    <h4 class="mt-8">Select box</h4>
                                    <select name="category[]" id="multipleSelect" data-s-autocomplete
                                            class="rounded border-1" multiple>
                                        <option value="">Select an option</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}" {% if category.id in catQuery %} selected {% endif %}>{{ category.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <h4 class="mt-8">Search</h4>
                                    <input type="text" name="search" placeholder="Search" value="{{ searchQuery }}"/>
                                </div>
                                <button type="submit" class="mt-8 btn">Submit</button>
                            </form>

                            <div>
                                {# this one can be put wherever you want #}
                                <button type="button" class="ie-hidden js-filter-clear" {# data-s-always-show="true" #}>Clear filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-2/3">
                    <div class="js-filter-scroll-position">
                        <div class="hidden js-filter-loader" tabindex="-1">
                            {% include '_site/_snippet/_item/_loader' %}
                        </div>
                        <div aria-live="polite" class="sr-only js-filter-aria-live" tabindex="-1">
                            <span>{{ "A total of {total} items found."|t({total: totalEntries}) }}</span>
                            {% if pageInfo.totalPages > 1 %}
                                <span>{{ "Showing {totalItems} items on page {currentPage} of {totalPages}."|t({totalItems: totalEntries, currentPage: pageInfo.currentPage, totalPages: pageInfo.totalPages}) }}</span>
                            {% endif %}
                        </div>
                        <div class="js-filter-results">

                            {% if searchQuery or catQuery %}
                                <div class="flex flex-wrap">
                                    <span class="mr-4">{{ "Resultaten gefilterd op:"|t }}</span>
                                    {% if searchQuery %}
                                        <span class="flex items-center px-2 mb-2 mr-2 text-sm font-light text-white capitalize rounded-full bg-primary">{{ searchQuery }}
                                            <button type="button" class="flex items-center justify-center w-4 h-4 ml-2 text-black js-clear-filter-element" data-filter-elements='[{"name": "search"}]'>
                                                {{ icon('clear') }}
                                                <span class="sr-only">{{ "Verwijder filter "|t }} {{ searchQuery }}</span>
                                            </button>
                                        </span>
                                    {% endif %}
                                    {% if catQuery %}
                                        {% for category in categories.id(catQuery).all() %}
                                            <span class="flex items-center px-2 mb-2 mr-2 text-sm font-light text-white capitalize rounded-full bg-primary">{{ category.title }}
                                                <button type="button" class="flex items-center justify-center w-4 h-4 ml-2 text-black ie-hidden js-clear-filter-element" data-filter-elements='[{"name": "category[]","value": "{{ category.id }}"}]'>
                                                    {{ icon('clear') }}
                                                    <span class="sr-only">{{ "Verwijder filter "|t }} {{ category.title }}</span>
                                                </button>
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
                                {% for cardEntry in newsEntries %}
                                    {% include '_site/_snippet/_item/_card' with {amount: 2} %}
                                {% else %}
                                    <div>
                                        {{ "Geen items gevonden"|t }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if pageInfo.totalPages > 1 %}
                                <div class="js-filter-pagination">
                                    {{ render_pagination(pageInfo, {
                                        pageRange: 2,
                                        prevText: '«',
                                        nextText: '»'
                                    }) | raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
