{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './filterButton.twig',
		title: 'Filter Button'
	},
] %}

{% block content %}

	{% set entries = craft.entries.section('news') %}
    {% set catQuery = craft.app.request.getParam('category') %}
    
	{% set relationParam = ['and'] %}

	{% if catQuery %}
		{% set relationParam = relationParam|merge([{ targetElement: catQuery }]) %}
	{% endif %}

	{% if relationParam|length > 1 %}
		{% set entries = entries.relatedTo(relationParam) %}
	{% endif %}

	{% set totalEntries = entries|length %}

	{% paginate entries.limit(3) as pageInfo, newsEntries %}

		<div class="section section--default">
			<div class="container">
                {% include '_site/_snippet/_nav/_breadcrumb' %}
				<div class="w8/12">
					<h1>Filter Buttons plugin Example</h1>
					<p>This is an example on how to use the filter plugin with top buttons.</p>
					<h2 class="js-filter-extra-info">
						{{totalEntries}} resultaten gevonden
					</h2>
				</div>
			</div>
		</div>

		<div class="section section--default">
			<div class="container">
                <form action="" class="flex flex-wrap items-baseline mb-10 md:flex-no-wrap"
                    data-filter="filterResults" 
                    data-filter-scroll-position="filterScrollPosition" 
                    data-filter-loader="filterLoader" 
                    data-filter-aria-live="filterAriaLive" 
                    data-filter-pagination="filterPagination" 
                    data-filter-clear="filterClear" >
                    <div class="flex flex-wrap gap-2">
                        <button type="button" class="btn {% if catQuery|length == 0 %}btn--primary{% else %}btn--ghost{% endif %}" id="filterClear" data-active-class="btn--ghost" data-inactive-class="btn--primary" data-always-show>Everything</button>
                        {% set categories = craft.entries.section('newsCategories').level(1) %}
                        {% if categories|length %}
                            {% for cat in categories %}
                                <div class="">
                                    <input class="sr-only peer"
                                        type="checkbox" name="category[]"
                                        id="{{ cat }}"
                                        value="{{ cat.id }}"
                                        {% if cat in catQuery %}checked{% endif %} />
                                    <label class="btn btn--ghost inline-flex cursor-pointer m-0 peer-checked:[&>.icon]:block" for="{{ cat }}">{{ cat }} {{ icon('clear', { class: 'ml-2 hidden' }) }} </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
                <div id="filterScrollPosition">
                        <div class="hidden" tabindex="-1" id="filterLoader">
                            {% include '_site/_snippet/_item/_loader' %}
                        </div>
                        <div aria-live="polite" class="sr-only" id="filterAriaLive" tabindex="-1">
                            <span>{{ "A total of {total} items found."|t({total: totalEntries}) }}</span>
                            {% if pageInfo.totalPages > 1 %}
                                <span>{{ "Showing {totalItems} items on page {currentPage} of {totalPages}."|t({totalItems: totalEntries, currentPage: pageInfo.currentPage, totalPages: pageInfo.totalPages}) }}</span>
                            {% endif %}
                        </div>
                        <div id="filterResults">

                            <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
                                {% for cardEntry in newsEntries %}
                                    {% include '_site/_snippet/_item/_card' with {amount: 2} %}
                                {% else %}
                                    <div>
                                        {{ "Geen items gevonden"|t }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if pageInfo.totalPages > 1 %}
                                <div id="filterPagination">
                                    {{ render_pagination(pageInfo, {
                                        pageRange: 2,
                                        prevText: '«',
                                        nextText: '»'
                                    }) | raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
			</div>
		</div>

	{% endblock %}
