{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './slider.twig',
		title: 'Image Slider'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Slider Example</h1>
				<p>This is an example on how to use the glide plugin.</p>
			</div>
		</div>
	</div>

	<div class="section section--default" id="loader1">
		<div class="container">
			<div class="flex mx-auto lg:w-2/3">
				<div class="w-full mx-auto max-w-full-width-img">
					<div class="overflow-hidden glide js-slider" id="slider">
						<div class="glide__track bg-light" data-glide-el="track">
							<div class="flex items-stretch glide__slides">
								{% set images = ["https://source.unsplash.com/WLUHO9A_xik", "https://source.unsplash.com/QukhKOo0_Fk", "https://source.unsplash.com/8J9JRXq6O-A", "https://source.unsplash.com/XZTKaEeitA4", "https://source.unsplash.com/A2coGXXdKZY", "https://source.unsplash.com/D5FKCqtW-Gc", "https://source.unsplash.com/lAV5m73XhK0", "https://source.unsplash.com/UGX9xxP-j1Y", "https://source.unsplash.com/_3qIBmeBUdQ"] %}
								{% for image in images %}
									<div class="flex flex-col justify-center w-full h-auto md:flex-row glide__slide">
										<div class="relative flex flex-col flex-1 h-auto md:flex-row glide__slide">
											<div class="w-full bg-black bg-center bg-no-repeat bg-contain aspect-ratio-16/9" id="slider-image-{{loop.index}}"></div>
											<img
											src="{{image}}" alt="" class="sr-only" data-bg-target="slider-image-{{loop.index}}"/>
										{# {% set optimizedImage = image|default(fallback.image).optimizedContent %}
                                        <picture>
                                            {% if craft.imageOptimize.serverSupportsWebP() %}
                                                <source srcset="{{ optimizedImage.srcsetWebP() }}" sizes="(max-width: 1199px) 95vw, (min-width: 1200px) 1188px" type="image/webp"/>
                                            {% endif %}
                                            <figure>
                                                <img src="{{ optimizedImage.src(1200) ?: max(optimizedImage.optimizedImageUrls) }}" srcset="{{ optimizedImage.srcset() }}" sizes="(max-width: 1199px) 95vw, (min-width: 1200px) 1188px" alt="{{ image.imageCaption ?? image.title ?? entry.title }}" class="sr-only" data-bg-target="slider-image-{{loop.index}}"/>
                                                <figcaption class="min-h-slider-caption bottom-0 left-0 right-0 pt-4 pb-10 text-sm md:px-4 md:pt-4 md:absolute md:text-white md:bg-caption font-accent{% if block.fullWidth %} md:text-center{% endif %}">
                                                    {% if image.imageCaption|length or image.copyright|length %}
                                                        <div class="container p-0 px-10 xl:px-40 lg:px-32 md:px-20">
                                                            {% if image.imageCaption|length %}
                                                                <div class="">
                                                                    {{image.imageCaption}}
                                                                </div>
                                                            {% endif %}
                                                            {% if image.copyright|length %}
                                                                <div class="">
                                                                    &copy;
                                                                    {{image.copyright}}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </figcaption>
                                            </figure>
                                        </picture> #}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="absolute bottom-0 mb-4 glide__bullets" data-glide-el="controls[nav]">
							{% for image in images %}
								<button class="mx-2 glide__bullet" data-glide-dir="={{loop.index - 1}}"></button>
							{% endfor %}
						</div>
						<div class="absolute z-10 w-full max-w-screen-xl top-1/2 left-1/2 pull-to-center" data-glide-el="controls">
							<button class="left-0 flex items-center justify-center glide__arrow glide__arrow--left" data-glide-dir="&lt;">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="/icon/sprite.svg#chevron-left"></use>
								</svg>
							</button>
							<button class="right-0 flex items-center justify-center glide__arrow glide__arrow--right" data-glide-dir="&gt;">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="/icon/sprite.svg#chevron-right"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
