{% set baseUrl = craft.app.config.general.aliases.baseUrl %}
{% set currentLocale = craft.app.language|split('-') %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './stickyHeader.twig',
		title: 'Sticky Header'
	},
] %}
<!doctype html>
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="{{ currentLocale[0] }}"> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js js-done" lang="{{ currentLocale[0] }}"> <!--<![endif]-->
	<head>
		<link rel="stylesheet" type="text/css" href="/css/inert.css" id="inert-style"/>
		{% include '_snippet/_global/_header-assets' %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include '_snippet/_global/_favicon' %}
		{% hook 'seo-fields' %}

		{% block head_scripts %}
			<link rel="preconnect" href="//www.googletagmanager.com">
			{# <link rel="preconnect" href="//fonts.googleapis.com">
			<link rel="preload" as="font" crossorigin="anonymous" href="{{ baseUrl }}/fonts/icons.woff">
			<link rel="preload" as="font" crossorigin="anonymous" href="{{ baseUrl }}/fonts/icons.woff2">
			<link rel="preload" as="font" crossorigin="anonymous" href="{{ baseUrl }}/fonts/icons.ttf"> #}
		{% endblock %}
	</head>

	<body
		class="page-{{ craft.app.request.getSegment(1) ?: 'home' }} {% block bodyClasses %}{% endblock %}">


		{# cookiebanner #}
		{% if not craft.statik.isBot() %}
			{% if entry is defined and entry.section.handle != 'cookiePolicy' %}
				{% include '_snippet/_cookie/_banner' %}
			{% endif %}
			{% include '_snippet/_cookie/_modal' %}
			<div class="fixed inset-0 z-10 hidden bg-black opacity-50" id="cookiebanner-overlay"></div>
		{% endif %}

		<div class="page-wrap" id="mainContentBlock">
			<div class="sr-only skip-to-main">
				<a href="#main">{{ 'Ga verder naar de inhoud'|t }}</a>
			</div>

			<header class="bg-white page-header" data-s-sticky-header data-only-show-on-scroll-up="true">
                <div class="container">
                    <div class="flex flex-wrap items-center justify-between py-4">
                        <a href="{{ siteUrl }}" class="">
                            <img class="w-full max-w-logo" src="/img/logo.svg" alt=""/>
                        </a>

                        <ul class="flex flex-wrap space-x-6">
                            <li class=""><a href="#">item 1</a></li>
                            <li class=""><a href="#">item 2</a></li>
                            <li class=""><a href="#">item 3</a></li>
                            <li class=""><a href="#">item 4</a></li>
                            <li class=""><a href="#">item 5</a></li>
                        </ul>
                        <a href="#flyout" class="text-3xl js-flyout-toggle md:hidden" role="button">
                            <span class="sr-only">Menu</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="/icon/sprite.svg#menu"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
			{% include '_snippet/_global/_flyout' %}

			<main
				class="page-main" id="main">
				{% block breadcrumbs %}
					<div class="py-5 section section--default">
						<div class="container">
							{% include '_snippet/_nav/_breadcrumb' %}
						</div>
					</div>
				{% endblock %}
				
                
                <div class="section section--default">
                    <div class="container">
                        <div class="w8/12">
                            <h1>How to use?</h1>
                            <p>
                                <ul class="list-arrow">
                                    <li>
                                        Add the attribute "data-s-sticky-header" to your header.
                                    </li>
                                    <li>
                                        Activate sticky-header.css by adding it to the main.css. And tailor it to you needs.
                                    </li>
                                    <li>
                                        Activate the sticky-header.component.ts
                                    </li>
                                </ul>
                            </p>
                            <p>
                                This will result in a fixed header width the correct top offset to the body.
                            </p>
                            <h2>How to make the header disepear, except when you scroll up?</h2>
                            <p>
                                Easy! Just add an extra attribute of data-only-show-on-scroll-up="true" to your header. That's it.
                            </p>
                            <h1 id="top">Extra content to scroll</h1>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
                        </div>
                    </div>
                </div>

			</main>
			{% include '_snippet/_global/_footer' %}
		</div>
		{% block inline_scripts %}
			<script type="text/javascript">
				window.app = window.app || {};
				app.variables = {
					assetsPath: "/"
				};
			</script>
			{% include '_snippet/_global/_footer-assets' %}
		{% endblock %}
	</body>
</html>
