{% extends '_site/_layout' %} 
{% set breadcrumbs = [ 
    { url: './overview.twig', title: 'Plugins' }, 
    { url: './toggle.twig', title: 'Toggle' } ] 
%} 
{% block content %}
<div class="section section--default">
  <div class="container">
    {% include '_site/_snippet/_nav/_breadcrumb' %}
    <div class="w8/12">
      <h1>Toggle example</h1>
    </div>
  </div>
</div>

<div class="section section--default">
  <div class="container">
    <h2>Toggle</h2>
    <h3 data-toggle="toggleContent1">This is a simple toggle trigger</h3>
    <div class="hidden open:block" id="toggleContent1" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
    </div>
    <h3 data-toggle="toggleContent2">This is a simple toggle trigger with animation</h3>
    <div class="[interpolate-size:allow-keywords] [block-size:0] transition-all transition-discrete duration-300 ease-in-out open:[block-size:auto] overflow-clip" id="toggleContent2">
        <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
    </div>
    <h3 class="flex justify-between group" data-toggle="toggleContent4">This is a simple toggle trigger with an icon {{ icon('chevron-down', {class: 'group-aria-expanded:rotate-180'}) }} </h3>
    <div class="hidden open:block" id="toggleContent4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
    </div>
    <h3 class="flex justify-between group" data-toggle="toggleContent5">
        This is a simple toggle trigger with custom toggle text 
        <span class="group-aria-expanded:hidden">{{ icon('chevron-down') }}  Open</span>
        <span class="hidden group-aria-expanded:block">{{ icon('chevron-up') }}  Close</span>
    </h3>
    <div class="hidden open:block" id="toggleContent5" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
    </div>
    <h3 class="flex justify-between group" data-toggle="toggleContent6">
        This is a simple toggle trigger with multiple toggle actions
        <span class="group-aria-expanded:hidden">{{ icon('chevron-down') }}  Open</span>
        <span class="hidden group-aria-expanded:block">{{ icon('chevron-up') }}  Close</span>
    </h3>
    <div class="hidden open:block" id="toggleContent6" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        <div>
            <button type="button" class="underline" data-toggle="toggleContent6">Close Content</button>
        </div>
    </div>
    <h3 class="flex justify-between group" data-toggle="toggleContent7" id="scrollPoint">
        This is a simple toggle trigger with multiple toggle actions and scroll
        <span class="group-aria-expanded:hidden">{{ icon('chevron-down') }}  Open</span>
        <span class="hidden group-aria-expanded:block">{{ icon('chevron-up') }}  Close</span>
    </h3>
    <div class="hidden open:block" id="toggleContent7" >
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </p>
        <div>
            <button type="button" class="underline" data-toggle="toggleContent7" data-toggle-scroll="#scrollPoint">Close Content</button>
        </div>
    </div>
  </div>
</div>

<div class="section section--default">
  <div class="container">
    <h2>Toggle group</h2>
    <h3>Simple toggle group</h3>
    <div id="toggleGroup1">
        <h4 data-toggle="toggleContent10">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent10" data-toggle-group="toggleGroup1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
        <h4 data-toggle="toggleContent11">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent11" data-toggle-group="toggleGroup1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
        <h4 data-toggle="toggleContent12">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent12" data-toggle-group="toggleGroup1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
    </div>
    <h3>Toggle group with animation</h3>
    <div id="toggleGroup2">
        <h4 data-toggle="toggleContent13">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent13" data-toggle-group="toggleGroup2" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
        <h4 data-toggle="toggleContent14">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent14" data-toggle-group="toggleGroup2" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
        <h4 data-toggle="toggleContent15">This is a simple toggle trigger</h4>
        <div class="hidden open:block" id="toggleContent15" data-toggle-group="toggleGroup2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
        </div>
    </div>
  </div>
</div>

<div class="section">
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dolor, aspernatur quidem ipsum quae nisi, ea unde saepe nam, recusandae cupiditate aliquam magnam ut veritatis ullam! Nesciunt delectus assumenda aspernatur. Magnam, tempore accusantium laboriosam tenetur ea sunt incidunt vel impedit autem perferendis quo porro perspiciatis nihil maxime officia repellat quod vero eos culpa velit! Placeat, error aspernatur? Voluptatum, cum voluptatibus repellendus aperiam eum error quisquam nemo totam expedita exercitationem culpa natus perferendis dolore repellat in officia, eos a facere dolorem. Qui hic, nisi natus minus aliquid, eius, a error commodi nemo quae obcaecati perspiciatis? Officia magni tempora molestias veniam sint eaque sit officiis neque iure illo, ullam odit modi, voluptatibus amet tenetur nesciunt, autem debitis ad perspiciatis commodi unde. Nobis alias dignissimos dolorum assumenda accusantium eius, facere aut magni id explicabo, adipisci neque reiciendis facilis et rerum, vero in commodi fugiat suscipit beatae? Quas iusto delectus facilis blanditiis aliquam earum? Reiciendis, tempore eos. Laborum commodi aut, consequatur animi corporis voluptatem cupiditate quam natus illum omnis quis. Necessitatibus, corporis dicta voluptas quis at consectetur saepe delectus maiores magni qui consequuntur assumenda rem modi fugit et repudiandae? Molestiae a ipsum eveniet quos, praesentium suscipit ad distinctio placeat fugit fuga. Vero delectus, ipsam, in ipsa adipisci eaque id officia temporibus dolorum eligendi consequuntur! Magni pariatur vel ut itaque. Dignissimos officiis, veritatis fuga dolore maiores excepturi at. Sunt ipsum officia minus excepturi, deleniti aliquid optio ipsa nisi quibusdam assumenda consequuntur officiis temporibus porro sequi totam quod cumque eius placeat atque distinctio consectetur quasi! Incidunt dolores laboriosam ipsum eum obcaecati! Sit corrupti aliquam temporibus. Laboriosam earum obcaecati, laudantium doloremque, saepe veritatis libero sequi delectus quae est praesentium reiciendis ut id hic ab quis, mollitia minima nam ipsum adipisci temporibus! Doloremque quod facilis enim quas excepturi sed cumque ducimus sint, atque distinctio vero. Vero sit amet, quam accusantium cupiditate officia, tempore reprehenderit ipsum odio quas perferendis aliquid debitis magnam enim, mollitia minima? Porro dolores dolor dolorem, dolorum minus autem quo alias vero beatae? Reiciendis consequuntur veniam quaerat molestiae autem debitis qui fugit ab dolorum, eius, aliquid perferendis! Expedita, totam. Quis incidunt at accusantium. Repellendus magni possimus, consectetur porro culpa delectus animi laborum rerum aut repudiandae quas quia ducimus id quibusdam ab sed quidem laboriosam minus. Praesentium unde tempore ipsum cumque aut quod iure fuga excepturi, omnis dolorem quibusdam cupiditate inventore. Dolor dolores numquam laudantium omnis placeat facere, ad exercitationem odit voluptate hic repellat quo reiciendis voluptatibus quidem at accusamus iusto inventore? Quas dolorem quod dolores pariatur, laudantium molestiae quos numquam mollitia sed quam recusandae unde excepturi laborum ex atque fugit blanditiis, necessitatibus eum. Minus veritatis, tempora recusandae inventore maiores sit nihil suscipit illum sunt odit earum deserunt voluptas aspernatur provident non natus impedit? Veritatis ab distinctio repudiandae dolore autem ratione fugit accusamus quos quam dolorum earum officiis, quo recusandae sequi. Ab nam veritatis quibusdam doloribus eum ex voluptatibus vero quisquam ullam minima magni commodi sint, quasi delectus, labore rerum fugiat atque! Quae magni reprehenderit distinctio dolorem ipsam tenetur quod assumenda nihil fugit. Officiis odit tempore molestias, aliquam ipsa quo natus distinctio eum, architecto perferendis, quos itaque facere eos eaque laboriosam fugit. Placeat, autem nesciunt ab consectetur perferendis enim. Placeat quos reprehenderit eos doloremque fugiat similique beatae nisi. Expedita, non! Rerum ullam quod, accusamus reiciendis iusto maiores vitae dolore veniam nulla suscipit illum neque, repudiandae odit consequuntur laborum? Atque labore totam, cumque animi voluptatum nostrum magnam amet accusantium facere nesciunt deleniti? Explicabo, vitae animi tempora repellat eaque, sint vel laboriosam fugit atque dolore quibusdam quisquam maxime nostrum illum reprehenderit sit aspernatur. Labore quaerat vero ipsa dolores porro quisquam ad iste corporis qui veniam numquam, doloremque corrupti recusandae ea a, aliquam quidem! Dolores rem magni, aliquid aspernatur nobis, hic sequi, aliquam optio doloremque assumenda quo. Placeat adipisci sed eos repudiandae aliquid et, esse fugiat veniam voluptates impedit amet, rerum quod? Sed ipsam optio eveniet accusantium maiores? Praesentium voluptatum dolores maxime natus, inventore modi quo, eum, non nemo nihil earum accusantium voluptates iure ab ad labore. Natus obcaecati dolores quaerat. Obcaecati vel aspernatur minima corporis est autem porro, iure inventore minus aliquid labore sequi dolore dicta aperiam consequuntur itaque illo officiis, recusandae enim. Hic dolore voluptatibus qui soluta necessitatibus earum incidunt pariatur sunt. Temporibus labore tenetur vel doloremque quidem voluptates iste odio sed fugit porro ab, obcaecati officiis in? Perferendis aliquid amet iste. Molestias, optio suscipit! Et, mollitia iste magni at nesciunt a quisquam unde velit eaque aspernatur assumenda facilis reiciendis repudiandae error adipisci enim sint, tempore, dolorum voluptates? Officia ex aliquid quos consequatur suscipit esse, unde odio labore voluptatem cumque eos at recusandae dolores, ab non excepturi numquam eligendi voluptatum. Quaerat laboriosam animi sed laborum, mollitia repudiandae quasi repellat magni tempore, voluptatem dolore sunt quibusdam nam possimus labore praesentium ex est fugit harum adipisci pariatur, similique recusandae. Explicabo, praesentium officiis quia expedita autem tempora sequi optio reiciendis!
    </div>
</div>

{% endblock %}
