{% extends "_layout.twig" %}

{% set breadcrumbs = entry.ancestors().all()|merge([entry]) %}

{% block head_scripts %}
    {{ parent() }}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}

{% block content %}

    {% set q = craft.app.request.getParam('q') %}

    <div class="section section--default">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-3/4">
                    <h1 class="heading--1">{{ 'Zoekresultaten'|t }}</h1>
                    {% if q|length %}
                        <div class="text--lead">
                            {{ 'Resultaten voor'|t }} "{{ q }}"
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if q|length %}
        <div class="section section--default">
            <div class="container">
                <div class="mb-4">
                    <div id="cse_loader" class="text-center">
                        <span class="icon icon--load"></span>
                        <span class="sr-only"{{ 'Loading...'|t }}></span>
                    </div>
                </div>
                <div class="mb-6" id="cse_results"></div>
                <div class="text-center" id="cse_more"></div>
            </div>
        </div>
        <div class="section section--default">
            <div>
                <script>
                    $(function () {
                        var params = location.search;
                        var language = $('html').attr('lang');

                        loadResults(1);

                        $(document).on('click', '#cse_more_btn', function () {
                            loadResults($(this).data('start-index'));
                        });

                        function loadResults(startIndex) {
                            $.ajax('https://www.googleapis.com/customsearch/v1' + params + '&start=' + startIndex + '&key={{ getenv('GOOGLE_API_KEY') }}', {
                                success: function (data) {
                                    $('#cse_loader').remove();
                                    $('#cse_results').append(function () {

                                        if (data.items) {
                                            var html = '';
                                            $template = $('#result__template').html();
                                            $.each(data.items, function (index, searchResult) {
                                                html += $template
                                                    .replace(/%%link%%/ig, searchResult.link)
                                                    .replace(/%%title%%/ig, searchResult.htmlTitle)
                                                    .replace(/%%formattedUrl%%/ig, searchResult.htmlFormattedUrl)
                                                    .replace(/%%snippet%%/ig, searchResult.htmlSnippet);
                                            });
                                            return html;
                                        } else {
                                            return '<div>{{ "Oh no! We could not find any results for your search query."|t }}</div>';
                                        }
                                    });

                                    if (data.queries.hasOwnProperty('nextPage')) {
                                        var nextPageData = data.queries.nextPage[0];
                                        $('#cse_more').html('<a href="javascript:void(0)" class="btn btn--primary" id="cse_more_btn" data-start-index="' + nextPageData.startIndex + '">{{ 'Meer resultaten'|t }}</a>');
                                    } else {
                                        $('#cse_more').hide();
                                    }
                                }
                            });
                        }
                    });
                </script>
                <script id="result__template" type="text/template">
                    <a href="%%link%%" class="card mb-2 md:mb-4">
                        <h3 class="heading--3">%%title%%</h3>
                        <div class="text-primary card--searchresult__url">
                            <p><small>%%formattedUrl%%</small></p>
                        </div>
                        <div class="card__body">
                            <p>%%snippet%%</p>
                        </div>
                    </a>
                </script>
            </div>
        </div>
    {% else %}
        <div class="section section--default">
            <div class="container">
                <div class="text-center">
                    {{ 'Type something in the search bar to find results.'|t }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
