{% extends "_layout.twig" %}

{% set breadcrumbs = entry.ancestors().all()|merge([entry]) %}

{% block content %}

    {% set q = craft.app.request.getParam('q') %}

    <div class="section section--default">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-3/4">
                    <h1 class="heading--1">{{ 'Zoekresultaten'|t }}</h1>
                    {% if q|length %}
                        <div class="text--lead">
                            {{ 'Resultaten voor'|t }} "{{ q }}"
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if q|length %}
        <div class="section section--default">
            <div class="container">
                <div class="mb-6" id="cse_results"></div>
                <div class="text-center" id="cse_more"></div>
                <div class="my-4">
                    <div id="cse_loader" class="text-center">
                        {% include '_snippet/_item/_loader' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section section--default">
            <div>
                <script>
                    const params = location.search;
                    const language = document.documentElement.getAttribute('lang');

                    loadResults(1);

                    document.addEventListener(
                    "click",
                    (e) => {
                        for (
                        let target = e.target;
                        target && !target.isSameNode(document);
                        target = target.parentElement
                        ) {
                            if (target.matches("#cse_more_btn")) {
                                loadResults(target.getAttribute('data-start-index'));
                                break;
                            }
                        }
                    },
                    false
                    );

                    function loadResults(startIndex){
                        const loader = document.querySelector('#cse_loader');
                        loader.classList.remove("hidden");
                        const xhr = new XMLHttpRequest();
                        xhr.open("GET", 'https://www.googleapis.com/customsearch/v1' + params + '&start=' + startIndex + '&key={{ getenv('GOOGLE_API_KEY') }}', true);

                        xhr.onload = function () {
                        if (this.status >= 200 && this.status < 400) {
                            const responseElement = document.implementation.createHTMLDocument("");
                            loader.classList.add("hidden");

                            const data = JSON.parse(this.response);

                            let html = '';
                            if (data.items) {
                                const template = document.querySelector('#result__template').innerHTML;
                                data.items.forEach((searchResult) => {
                                    html += template
                                        .replace(/%%link%%/ig, searchResult.link)
                                        .replace(/%%title%%/ig, searchResult.htmlTitle)
                                        .replace(/%%formattedUrl%%/ig, searchResult.htmlFormattedUrl)
                                        .replace(/%%snippet%%/ig, searchResult.htmlSnippet);
                                });
                            } else {
                                html = '<div>{{ "Oh no! We could not find any results for your search query."|t }}</div>';
                            }
                            document.querySelector('#cse_results').innerHTML += html;

                            const showMore = document.querySelector('#cse_more');
                            if (data.queries.hasOwnProperty('nextPage')) {
                                const nextPageData = data.queries.nextPage[0];
                                showMore.innerHTML = '<a href="javascript:void(0)" class="btn btn--primary" id="cse_more_btn" data-start-index="' + nextPageData.startIndex + '">{{ 'Meer resultaten'|t }}</a>';
                            } else {
                                showMore.innerHTML = '';
                                showMore.classList.add("hidden");
                            }
                        } else {
                            console.log("Something went wrong when fetching data");
                        }
                        };

                        xhr.onerror = function () {
                        console.log("There was a connection error");
                        };

                        xhr.send();
                    }
                </script>
                <script id="result__template" type="text/template">
                    <a href="%%link%%" class="block mb-4 md:mb-8">
                        <h3 class="mb-1">%%title%%</h3>
                        <p class="text-sm text-primary">%%formattedUrl%%</p>
                        <p class="mt-2">%%snippet%%</p>
                    </a>
                </script>
            </div>
        </div>
    {% else %}
        <div class="section section--default">
            <div class="container">
                <div class="text-center">
                    {{ 'Type something in the search bar to find results.'|t }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
