{% set ulClass = options.ulClass ?? 'flex list-reset justify-center' %}

{% set liClass = options.liClass ?? 'pagination__item' %}

{% set aClass = options.aClass ?? 'block hover:text-white hover:bg-black border border-black text-blue px-4 py-2 mx-1' %}

{% set activeClass = options.activeClass ?? 'text-white bg-black' %}

{% set prevText = options.prevText ?? '' %}

{% set nextText = options.nextText ?? '' %}

{% set pageRange = options.pageRange ?? '3' %}

{% set appendUrl = craft.app.request.getQueryStringWithoutPath() ? '?'~craft.app.request.getQueryStringWithoutPath() : '' %}

<ul class="{{ ulClass }}">

    {% if pageInfo.prevUrl %}
        <li class="{{ liClass }}">
            <a href="{{ pageInfo.prevUrl }}{{ appendUrl }}"
               class="pagination__prev block hover:underline text-blue px-3 py-2">
                <span class="sr-only">{{ 'Vorige'|t }}</span>
                {{ prevText|raw }}
            </a>
        </li>
    {% endif %}

    {% if pageInfo.currentPage > pageRange + 1 %}
        <li class="{{ liClass }}">
            <a class="{{ aClass }}" href="{{ pageInfo.firstUrl }}{{ appendUrl }}">1</a>
        </li>
    {% endif %}

    {% if pageInfo.currentPage > pageRange + 2 %}
        <li class="{{ liClass }}">
            <span class="pagination__btn non-active block text-blue px-3 py-2">...</span>
        </li>
    {% endif %}

    {% for page, url in pageInfo.getPrevUrls(pageRange) %}
        <li class="{{ liClass }}"><a class="{{ aClass }}" href="{{ url }}{{ appendUrl }}">{{ page }}</a></li>
    {% endfor %}

    <li class="{{ liClass }}">
        <a class="{{ aClass }} {{ activeClass }}" href="javascript:void(0);">{{ pageInfo.currentPage }}</a>
    </li>

    {% for page, url in pageInfo.getNextUrls(pageRange) %}
        <li class="{{ liClass }}"><a class="{{ aClass }}" href="{{ url }}{{ appendUrl }}">{{ page }}</a></li>
    {% endfor %}

    {% if pageInfo.currentPage < pageInfo.totalPages-(pageRange + 1) %}
        <li class="{{ liClass }}">
            <span class="pagination__btn non-active block text-blue px-3 py-2">...</span>
        </li>
    {% endif %}

    {% if pageInfo.currentPage < pageInfo.totalPages-pageRange %}
        <li class="{{ liClass }}">
            <a class="{{ aClass }}" href="{{ pageInfo.lastUrl }}{{ appendUrl }}">{{ pageInfo.totalPages }}</a>
        </li>
    {% endif %}

    {% if pageInfo.nextUrl %}
        <li class="{{ liClass }}">
            <a href="{{ pageInfo.nextUrl }}{{ appendUrl }}"
               class="pagination__next block hover:underline text-blue px-3 py-2">
                <span class="sr-only">{{ 'Volgende'|t }}</span>
                {{ nextText|raw }}
            </a>
        </li>
    {% endif %}
</ul>