{% set ulClass = options.ulClass ?? 'flex list-reset justify-center mt-8' %}

{% set liClass = options.liClass ?? 'pagination__item' %}

{% set aClass = options.aClass ?? 'block hover:text-white hover:bg-primary-hover hover:border-primary-hover border border-black bg-white px-4 py-1 mx-1' %}

{% set activeClass = options.activeClass ?? 'text-white bg-primary border-primary' %}

{% set prevText = options.prevText ?? '' %}

{% set nextText = options.nextText ?? '' %}

{% set pageRange = options.pageRange ?? '3' %}

{% set appendUrl = craft.app.request.getQueryStringWithoutPath() ? '?'~craft.app.request.getQueryStringWithoutPath() : '' %}

{% if pageInfo.totalPages > 1 %}
	<ul class="{{ ulClass }}">

		{% if pageInfo.prevUrl %}
			<li class="{{ liClass }}">
				<a href="{{ pageInfo.prevUrl }}{{ appendUrl }}" class="block px-3 py-2 text-lg text-black pagination__prev hover:text-primary">
					<span class="sr-only">{{ 'Vorige'|t }}</span>
					{% if prevText|length %}
						{{ prevText|raw }}
					{% else %}
						<span class="icon icon--arrow-left" aria-hidden="true"></span>
					{% endif %}
				</a>
			</li>
		{% endif %}

		{% if pageInfo.currentPage > pageRange + 1 %}
			<li class="{{ liClass }}">
				<a class="{{ aClass }}" href="{{ pageInfo.firstUrl }}{{ appendUrl }}">1</a>
			</li>
		{% endif %}

		{% if pageInfo.currentPage > pageRange + 2 %}
			<li class="{{ liClass }}">
				<span class="block px-3 py-2 pagination__btn non-active">...</span>
			</li>
		{% endif %}

		{% for page, url in pageInfo.getPrevUrls(pageRange) %}
			<li class="{{ liClass }}">
				<a class="{{ aClass }}" href="{{ url }}{{ appendUrl }}">{{ page }}</a>
			</li>
		{% endfor %}

		<li class="{{ liClass }}">
			<a class="{{ aClass }} {{ activeClass }}" href="javascript:void(0);">{{ pageInfo.currentPage }}</a>
		</li>

		{% for page, url in pageInfo.getNextUrls(pageRange) %}
			<li class="{{ liClass }}">
				<a class="{{ aClass }}" href="{{ url }}{{ appendUrl }}">{{ page }}</a>
			</li>
		{% endfor %}

		{% if pageInfo.currentPage < pageInfo.totalPages-(pageRange + 1) %}
			<li class="{{ liClass }}">
				<span class="block px-3 py-2 pagination__btn non-active text-primary">...</span>
			</li>
		{% endif %}

		{% if pageInfo.currentPage < pageInfo.totalPages-pageRange %}
			<li class="{{ liClass }}">
				<a class="{{ aClass }}" href="{{ pageInfo.lastUrl }}{{ appendUrl }}">{{ pageInfo.totalPages }}</a>
			</li>
		{% endif %}

		{% if pageInfo.nextUrl %}
			<li class="{{ liClass }}">
				<a href="{{ pageInfo.nextUrl }}{{ appendUrl }}" class="block px-3 py-2 text-lg text-black pagination__next hover:text-primary">
					<span class="sr-only">{{ 'Volgende'|t }}</span>
					{% if nextText|length %}
						{{ nextText|raw }}
					{% else %}
						<span class="icon icon--arrow-right" aria-hidden="true"></span>
					{% endif %}
				</a>
			</li>
		{% endif %}
	</ul>
{% endif %}
