{{ form.renderTag ({
    formAttributes: { "data-parsley-validate": true }
}) }}

{% if form.pages|length > 1 %}
    <nav class="nav--tabs">
        <ul class="tabbable">
            {% for page in form.pages %}
                <li class="tabs__tab {{ form.currentPage.index == page.index ? " active" : "" }}">
                    {% if form.currentPage.index == page.index %}
                        <a href="javascript:;" class="is-active">{{ page.label }}</a>
                    {% else %}
                        <a href="javascript:;">{{ page.label }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}

{% if form.hasErrors %}
    <div class="form__row">
        <div class="form__item">
            <ul class="form__errors">
                <li>{{ "There was an error submitting this form"|t }}</li>
            </ul>
        </div>
    </div>
{% endif %}

{% for row in form %}
    <div class="form__row {{ form.customAttributes.rowClass }}">
        {% for field in row %}
            {% set width = (12 / (row|length)) %}
            {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}


            {% set columnClass = 'form__item' %}
            {% set labelClass = "form__label" %}
            {% set instructionsClass = "form__description" %}

            {% if field.type == "submit" %}
                {% set columnClass = columnClass ~ " submit submit-align-" ~ field.position %}
            {% endif %}

            {% if field.type == "html" %}
                {{ field.value|raw }}
            {% elseif field.type == 'radio_group' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel({
                        class: labelClass
                    }) }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    <div class="form__group {% if field.oneLine == true %}form__group-flex{% endif %}">
                        {% for option in field.options %}
                            <div class="form__item">
                                <input type="radio"
                                       name="{{ field.handle }}"
                                       value="{{ option.value }}"
                                       class="form__radio"
                                       id="{{ field.handle }}-{{ option.label }}" 
                                       {{ field.isRequired() ? "required": "" }}
                                       {{ option.checked ? "checked" : "" }}>
                                <label for="{{ field.handle }}-{{ option.label }}" class="{{ labelClass }}">
                                    {{ option.label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}
                    
                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'checkbox' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderInput({
                        useRequiredAttribute: true,
                        id: field.handle,
                        class: 'form__checkbox'
                    }) }}
                    <label for="{{ field.handle }}" class="{{ form.customAttributes.labelClass }}">{{ field.label|raw }}
                        {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    </label>
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'checkbox_group' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel({
                        class: labelClass
                    }) }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}

                    <div class="form__group {% if field.oneLine == true %}form__group-flex{% endif %}">
                        {% for option in field.options %}
                            <div class="form__item">
                                <input type="checkbox"
                                       name="{{ field.handle }}[]"
                                       class="form__checkbox"
                                       value="{{ option.value }}"
                                       id="{{ field.handle }}-{{ option.label }}"
                                       {{ field.isRequired() ? "required": "" }}
                                       {{ option.checked ? "checked" : "" }}>
                                <label for="{{ field.handle }}-{{ option.label }}" class="{{ labelClass }}">
                                    {{ option.label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'select'%}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel() }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    <div class="form__element">
                        <div class="form__icon form__icon--select" aria-hidden="true"></div>
                        {{ field.renderInput({
                            class: 'form__text form__select',
                            useRequiredAttribute: true
                        }) }}
                    </div>
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'multiple_select' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel() }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    <div class="form__element">
                        {{ field.renderInput({
                            class: 'form__text form__select form__select-multiple',
                            useRequiredAttribute: true,
                        }) }}
                    </div>
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'number' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel() }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    <input type="number" name="{{ field.handle }}" id="{{ field.id }}" class="form__text"
                            {% if field.maxValue|length %}max="{{ field.maxValue }}"{% endif %}
                            {% if field.minValue|length %}min="{{ field.minValue }}"{% endif %}
                            {% if field.minLength|length %}minlength="{{ field.minLength }}"{% endif %}
                            {% if field.maxLength|length %}maxlength="{{ field.maxLength }}"{% endif %}
                    >
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% elseif field.type == 'submit' %}

                <div class="form__item flex flex flex-justify-between" {{ field.rulesHtmlData }}>
                    {{ field.renderInput() }}
                </div>

            {% elseif field.type == 'opinion_scale' %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    {% if field.scales %}
                        <ul class="list--reset flex flex-row flex-wrap flex-justify-start">
                            {% for index, scale in field.scales %}
                                <li class="panel">
                                    <input type="radio" name="{{ field.handle }}"
                                           value="{{ scale.value }}"
                                           id="{{ field.idAttribute }}-{{ index }}"
                                            {{ field.value == scale.value ? "checked" }}
                                    />
                                    <label for="{{ field.idAttribute }}-{{ index }}">
                                        {{ scale.label }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if field.legends %}
                        <ul class="list--reset flex flex-row flex-wrap flex-justify-start">
                            {% for legend in field.legends %}
                                <li class="u-mr-sml"><small>{{ legend.legend }}</small></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}
                </div>

            {% else %}

                <div class="{{ columnClass }}" {{ field.rulesHtmlData }}>
                    {{ field.renderLabel }}
                    {% if not field.isRequired() %}<small class="form__caption">{{ 'Optional'|t }}</small>{% endif %}
                    {{ field.renderInput({
                        class: 'form__text',
                        useRequiredAttribute: true
                    }) }}
                    {% if field.instructions %}
                        <div class="form__description">{{ field.renderInstructions }}</div>
                    {% endif %}

                    {{ field.renderErrors() }}
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% endfor %}

{{ form.renderClosingTag }}
